body {
    background-color: rgb(30, 30, 30);
    display: grid;
    place-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    font-size: 30px;
    color: aliceblue;
    margin-top: 20px;
    margin-bottom: 20px;
}

table {
    margin: auto;
    color: aliceblue;
    table-layout: fixed;
    border-collapse: collapse;
    width: 80%;
    text-align: center;
}


th {
    font-size: large;
    font-weight: 700;
    background-color: rgba(153, 153, 153, 0.411);
    padding: 20px;
}

td {
    font-size: medium;
    padding-top: 20px;
    padding-bottom: 20px;
}

table td {
    border-top: thin solid; 
    border-bottom: thin solid;
    border-width: 7px;
    border-color: rgb(30, 30, 30);
    background-color: rgba(62, 62, 62, 0.51);
}




button {
    color: aliceblue;
    border: 0;
    border-radius: 3px;
    background-color: rgba(144, 144, 144, 0);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

button:hover {
    background-color: rgb(115, 115, 115);
    cursor: pointer;
}

#Add, #Empty {
    border: 0;
    border-radius: 3px;
    background-color: rgba(144, 144, 144, 0.553);
    margin: auto;
    padding: 30px;
    align-items: center;
    text-align: center;
    margin: 10px;
}

#Add:hover, #Empty:hover {
    background-color: rgb(115, 115, 115);
    cursor: pointer;
}

.buttons {
    margin-top: 50px;
}

#myDrinks {
    border-radius: 15px;
}

@media only screen and (max-width: 600px) {
    table {
        margin: auto;
        border-radius: 2px;
        color: aliceblue;
        table-layout: fixed;
        border-collapse: collapse;
        width: 100%;
        text-align: center;
        
    }

    th {
        font-size: x-small;
        font-weight: 700;
        
    }

    td {
        font-size: smaller;
        border-bottom: 4px;
        margin-bottom: 4px;
    }

    button {
        color: aliceblue;
        border: 0;
        border-radius: 3px;
        background-color: rgba(153, 153, 153, 0.411);
        margin-bottom: 6px;
        padding-left: 22px;
        padding-right: 22px;
        padding-top: 13px;
        padding-bottom: 13px;

    }

    #Add, #Empty {
        border: 0;
        border-radius: 3px;
        background-color: rgba(144, 144, 144, 0.553);
        margin: auto;
        padding: 25px;
        align-items: center;
        text-align: center;
    }

    .buttons {
        margin-top: 25px;
    }
  }